/**********************************
GENERAL LAYOUT
**********************************/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/**********************************
HEADER
**********************************/

header{
	background-image: url('photo/Notify_Background_header.jpg');
	background-size: cover;
	border-top: 10px solid green;
	color: #fff;
	display: flex;
	height: 400px;
}

.header-title{
	align-items: flex-end;
	flex-basis: 50vw;
	flex-direction: column;
	display: flex;
	justify-content: center;
}

.header-title h1, ul, p{
	width: 60%;
}

.header-title ul {
	display: flex;
	list-style: none;
	padding: 0;
}

.header-title li{
	background-color: rgba(100,100,100, 0.7);
	margin: 15px;
	padding: 15px;
	text-align: center;
}

.header-title li:hover{
	background-color: green;
}

/**********************************
SERVICE
**********************************/

.service {
	display: flex;
	justify-content: space-around;
}

.service ul {
	align-items: center;
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	width: 80%;
}

.service ul li  {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 25px;
}

.service p{
	text-align: center;
	width: 100%;
}

.service i {
	background-color: green;
	border-radius: 100%;
	color: white;
	height: 55px;
	padding: 5px;
	text-align: center;
	width: 55px;
}

/**********************************
NOTIFY
**********************************/

.notify{
	background-color: gainsboro;
	display: flex;
}

.notify div {
	display: flex;
	flex-basis: 50%;
	flex-direction: column;
	padding: 1.5em;
}

.test{
	display: flex;
	flex-direction: row;
}

.notify input, .notify button {
	height: 45px;
	border: none;
}

.notify input {
	border-radius: 15px 0 0 15px;
	padding: 15px;
	width: 70%;
}

.notify button {
	background-color: green;
	border-radius: 0 15px 15px 0;
	color: #fff;
	cursor: pointer;
	width: 30%;
}

/**********************************
TEAM
**********************************/

.team{
	align-items: center;
	display: flex;
	flex-direction: column;
}

.team ul{
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.team ul li{
	padding: 2px;
}

.team p {
	text-align: center;
}

.social li {
	margin: 0 10px;
}

/**********************************
FOOTER
**********************************/

footer {
	background-color: gainsboro;
	display: flex;
	justify-content: center;
	padding: 25px;
 }

footer ul{
	display: flex;
	list-style: none;
	padding: 0;
	justify-content: space-between;
}
